<div id = "page-content">
  <div class="container" id = "home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Cook, Read,Eat and Write </h1>
        <p class="lead">This is a website which welcomes all the authors and the readers who want to share their recipes to the world!</p>
        <hr class="my-4">
        <p>You can get reicpes from different parts of India</p>
        <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Soumya Nigudgi"," https://www.udemy.com" %></small>
  </div>
</footer>